<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>doc</key>
	<string>application/vnd.ms-word</string>
	<key>docx</key>
	<string>application/vnd.openxmlformats-officedocument.wordprocessingml.document</string>
	<key>xls</key>
	<string>application/vnd.ms-excel</string>
	<key>xlsx</key>
	<string>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</string>
	<key>ppt</key>
	<string>application/vnd.ms-powerpoint</string>
	<key>ppts</key>
	<string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
	<key>wps</key>
	<string>application/kswps</string>
	<key>et</key>
	<string>application/kset</string>
	<key>dps</key>
	<string>application/ksdps</string>
	<key>pdf</key>
	<string>application/pdf</string>
	<key>xml</key>
	<string>application/xml</string>
	<key>bmp</key>
	<string>image/x-ms-bmp</string>
	<key>jpg</key>
	<string>image/jpeg</string>
	<key>jpeg</key>
	<string>image/jpeg</string>
	<key>gif</key>
	<string>image/gif</string>
	<key>png</key>
	<string>image/png</string>
	<key>tif</key>
	<string>image/tiff</string>
	<key>tiff</key>
	<string>image/tiff</string>
	<key>tga</key>
	<string>image/x-targa</string>
	<key>psd</key>
	<string>image/vnd.adobe.photoshop</string>
	<key>txt</key>
	<string>text/plain</string>
	<key>php</key>
	<string>text/x-php</string>
	<key>html</key>
	<string>text/html</string>
	<key>htm</key>
	<string>text/html</string>
	<key>js</key>
	<string>text/javascript</string>
	<key>css</key>
	<string>text/css</string>
	<key>java</key>
	<string>text/x-java-source</string>
	<key>sh</key>
	<string>text/x-shellscript</string>
	<key>py</key>
	<string>text/x-python</string>
	<key>mp3</key>
	<string>audio/mpeg</string>
	<key>mid</key>
	<string>audio/midi</string>
	<key>ogg</key>
	<string>audio/ogg</string>
	<key>mp4a</key>
	<string>audio/mp4</string>
	<key>m4a</key>
	<string>audio/mp4a-latm</string>
	<key>m4b</key>
	<string>audio/mp4a-latm</string>
	<key>m4p</key>
	<string>audio/mp4a-latm</string>
	<key>wav</key>
	<string>audio/wav</string>
	<key>wma</key>
	<string>audio/x-ms-wma</string>
	<key>avi</key>
	<string>video/x-msvideo</string>
	<key>mp4</key>
	<string>video/mp4</string>
	<key>mpeg</key>
	<string>video/mpeg</string>
	<key>mpg</key>
	<string>video/mpeg</string>
	<key>mov</key>
	<string>video/quicktime</string>
	<key>wm</key>
	<string>video/x-ms-wmv</string>
	<key>flv</key>
	<string>video/x-flv</string>
	<key>mkv</key>
	<string>video/x-matroska</string>
	<key>rar</key>
	<string>application/x-rar</string>
	<key>gz</key>
	<string>application/x-gzip</string>
	<key>tgz</key>
	<string>application/x-gzip</string>
	<key>bz</key>
	<string>application/x-bzip2</string>
	<key>bz2</key>
	<string>application/x-bzip2</string>
	<key>zip</key>
	<string>application/zip</string>
	<key>tar</key>
	<string>application/x-tar</string>
	<key>7z</key>
	<string>application/x-7z-compressed</string>
	<key>exe</key>
	<string>application/octet-stream</string>
</dict>
</plist>
